In [62]:
import pandas as pd
import Wrangle as w

In [63]:
df = pd.read_csv('steam-200k.csv')

In [64]:
df = df.rename(columns = {'The Elder Scrolls V Skyrim' : 'slug' , '151603712': 'user', '1.0' : 'avg hours played'})

In [68]:
df.user.unique()

array([151603712, 187131847,  59945701, ..., 176449171, 221315846,
       128470551])

In [4]:

df.slug = df.slug.replace([' '], '-', regex = True).str.lower()

In [5]:
df.user.nunique()

12393

In [6]:
xdf = df[df['purchase'] == 'play']

In [7]:
df = pd.DataFrame(df.groupby('slug')['avg hours played'].mean())
df.rename({'The Elder Scrolls V Skyrim' : 'slug' })

                                                    avg hours played
slug
007-legends                                                 0.850000
0rbitalis                                                   0.700000
1...-2...-3...-kick-it!-(drop-that-beat-like-an...          2.250000
10,000,000                                                  2.300000
10-second-ninja                                             1.487500
...                                                              ...
zoombinis                                                   2.300000
zotrix                                                      0.750000
zuma's-revenge                                             20.071429
zuma's-revenge!---adventure                                 0.975000
zuma-deluxe                                                 0.900000

[5155 rows x 1 columns]

In [8]:
feat_df = pd.read_csv('game_info.csv')

In [9]:
wow[wow.Genre_Shooter == 1].sort_values('slug')

NameError: name 'wow' is not defined

In [10]:
feat_df = w.prep_data(feat_df)

/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.metacritic_good_game[df.metacritic_good_game > 0] = 1
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:74: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Platform_{x}'] = df.platforms.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)
/Users/zacharystufflebeme/codeup-data-science/capstone/Wrangle.py:98: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'Genre_{x}'] = df.genres.str.contains(x)

In [11]:
feat_df

,slug,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,Publisher_Electronic_Arts,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
43,mages-of-mystralia,75.0,3,104,0,32,9,0.0,False,False,...,True,False,False,False,False,True,False,False,False,False
85,sudden-strike-4,77.0,2,121,4,64,6,0.0,False,False,...,True,False,False,False,False,False,False,False,False,False
207,arizona-sunshine,81.0,3,87,0,13,8,0.0,False,False,...,True,False,False,False,False,True,False,False,False,False
249,the-keep,61.0,5,25,0,1,1,0.0,False,False,...,False,True,False,False,False,True,False,False,False,False
291,space-engineers,68.0,4,58,0,62,20,0.0,False,False,...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474208,emily-is-away-too,81.0,4,21,0,49,10,0.0,False,False,...,False,True,False,False,False,True,False,False,False,False
474216,total-war-warhammer-ii,86.0,12,152,0,37,43,0.0,False,False,...,True,False,False,False,False,False,False,False,False,False
474237,blitzkrieg-3,68.0,5,75,0,8,3,0.0,False,False,...,False,False,False,False,False,False,False,False,False,False
474292,crazy-machines-3,71.0,3,41,0,57,1,0.0,False,False,...,False,False,False,False,False,False,False,False,False,False
474387,arma-3,74.0,19,98,0,38,20,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True

In [12]:
wow = pd.merge(df, feat_df, on = 'slug', how = 'right')

In [13]:
wow = wow.dropna()

In [14]:
df

                                                    avg hours played
slug
007-legends                                                 0.850000
0rbitalis                                                   0.700000
1...-2...-3...-kick-it!-(drop-that-beat-like-an...          2.250000
10,000,000                                                  2.300000
10-second-ninja                                             1.487500
...                                                              ...
zoombinis                                                   2.300000
zotrix                                                      0.750000
zuma's-revenge                                             20.071429
zuma's-revenge!---adventure                                 0.975000
zuma-deluxe                                                 0.900000

[5155 rows x 1 columns]

In [15]:
wow

,slug,avg hours played,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
4,space-engineers,21.687678,68.0,4,58,0,62,20,0.0,False,...,True,False,False,False,False,True,False,False,False,False
7,europa-universalis-iv,96.186275,87.0,6,310,0,75,23,0.0,False,...,False,False,False,False,False,False,False,False,False,False
11,hitman-codename-47,1.193827,73.0,1,0,8,116,22,0.0,True,...,True,False,False,False,False,False,False,False,False,True
12,thief-gold,0.925000,92.0,1,0,0,153,31,1.0,True,...,True,False,False,False,False,False,False,False,False,False
13,project-snowblind,0.887500,76.0,1,0,0,34,4,0.0,True,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4562,rise-of-nations-extended-edition,4.747368,89.0,5,76,0,39,5,0.0,False,...,False,False,False,False,False,False,False,False,False,False
4573,war-for-the-overworld,5.378261,65.0,5,135,0,48,5,0.0,False,...,True,False,False,False,False,True,False,False,False,False
4585,star-conflict,4.510843,75.0,2,213,0,25,3,0.0,False,...,True,False,False,False,False,False,False,False,False,False
4586,dirty-bomb,3.307529,63.0,2,78,0,68,8,0.0,False,...,True,False,False,False,False,False,False,False,False,True
4592,arma-3,76.153145,74.0,19,98,0,38,20,0.0,False,...,True,False,False,False,False,False,False,False,False,True

In [16]:
wow[wow.Genre_Shooter == 1]

,slug,avg hours played,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
11,hitman-codename-47,1.193827,73.0,1,0,8,116,22,0.0,True,...,True,False,False,False,False,False,False,False,False,True
36,conflict-denied-ops,1.783333,58.0,1,44,0,21,0,0.0,True,...,True,False,False,False,False,False,False,False,False,True
61,jazzpunk,1.325000,75.0,3,74,0,52,13,0.0,False,...,True,False,False,False,False,True,False,False,False,True
84,painkiller-redemption,0.927778,43.0,1,0,0,31,5,0.0,False,...,True,False,False,False,False,False,False,False,False,True
139,cryptark,0.850000,80.0,1,55,0,12,4,0.0,False,...,True,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4442,call-of-duty-advanced-warfare,4.774219,78.0,8,165,24,40,59,0.0,False,...,True,False,False,False,False,False,False,False,False,True
4455,call-of-duty-black-ops,8.586279,81.0,9,209,24,77,43,0.0,True,...,True,False,False,False,False,False,False,False,False,True
4531,rust,36.791686,69.0,13,58,0,100,45,0.0,False,...,True,True,False,False,False,True,False,False,False,True
4586,dirty-bomb,3.307529,63.0,2,78,0,68,8,0.0,False,...,True,False,False,False,False,False,False,False,False,True
4592,arma-3,76.153145,74.0,19,98,0,38,20,0.0,False,...,True,False,False,False,False,False,False,False,False,True

In [17]:
df

                                                    avg hours played
slug
007-legends                                                 0.850000
0rbitalis                                                   0.700000
1...-2...-3...-kick-it!-(drop-that-beat-like-an...          2.250000
10,000,000                                                  2.300000
10-second-ninja                                             1.487500
...                                                              ...
zoombinis                                                   2.300000
zotrix                                                      0.750000
zuma's-revenge                                             20.071429
zuma's-revenge!---adventure                                 0.975000
zuma-deluxe                                                 0.900000

[5155 rows x 1 columns]

In [18]:
wow[wow.Genre_Shooter == 1].sort_values('slug')

,slug,avg hours played,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
3993,007-legends,0.850000,37.0,1,147,0,8,2,0.0,False,...,True,False,False,False,False,False,False,False,False,True
1509,99-levels-to-hell,1.146154,66.0,3,23,0,6,0,0.0,False,...,True,False,False,False,False,True,False,False,True,True
1535,alan-wake,5.389908,83.0,5,134,1,392,145,0.0,False,...,True,False,False,False,False,False,False,False,False,True
3718,alien-breed-2-assault,1.644444,63.0,1,48,0,59,6,0.0,False,...,True,False,False,False,False,False,False,False,True,True
3710,alien-breed-3-descent,1.968000,64.0,1,51,0,41,6,0.0,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,xotic,1.000000,67.0,1,49,0,17,0,0.0,False,...,True,False,False,False,False,True,False,False,False,True
924,zeno-clash,1.257143,77.0,3,34,0,51,9,0.0,False,...,True,False,False,False,False,True,False,False,False,True
3192,zeno-clash-2,1.584615,63.0,3,35,0,46,9,0.0,False,...,True,False,False,False,False,True,False,True,False,True
2701,ziggurat,1.377778,75.0,4,141,0,112,8,0.0,False,...,True,True,False,False,False,True,False,False,False,True
2826,zombie-army-trilogy,2.700000,72.0,4,200,0,82,15,0.0,False,...,True,False,False,False,False,False,False,False,False,True

In [19]:
feat_df[feat_df.Genre_Massively_Multiplayer == 1]

,slug,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,Publisher_Electronic_Arts,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
1307,tom-clancys-ghost-recon-wildlands-2,72.0,21,113,0,55,77,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True
1487,playerunknowns-battlegrounds,81.0,50,113,1,63,55,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True
2215,dota-2,90.0,13,0,1,132,13,0.0,False,False,...,True,False,False,False,False,False,False,False,False,False
2381,shattered-skies-prologue,56.0,1,0,0,3,2,0.0,False,False,...,True,True,False,False,False,True,False,False,False,False
3079,tera,77.0,3,102,0,78,8,0.0,False,False,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472420,ark-survival-evolved,70.0,8,98,1,121,29,0.0,False,False,...,True,True,False,False,False,True,False,False,False,False
474114,spellweaver,63.0,1,20,0,6,0,0.0,False,False,...,False,False,False,False,False,True,False,False,False,False
474164,star-conflict,75.0,2,213,0,25,3,0.0,False,False,...,True,False,False,False,False,False,False,False,False,False
474207,battlefield-1,88.0,5,152,9,114,117,0.0,False,True,...,True,False,False,False,False,False,False,False,False,True
474237,blitzkrieg-3,68.0,5,75,0,8,3,0.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
feat_df[feat_df.Genre_Shooter == 1].sort_values('slug')

,slug,metacritic,playtime,achievements_count,game_series_count,added_status_yet,added_status_toplay,metacritic_good_game,Publisher_Square_Enix,Publisher_Electronic_Arts,...,Genre_Action,Genre_RPG,Genre_Puzzle,Genre_Racing,Genre_Sports,Genre_Indie,Genre_Board_Games,Genre_Fighting,Genre_Arcade,Genre_Shooter
435056,007-legends,37.0,1,147,0,8,2,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True
100578,99-levels-to-hell,66.0,3,23,0,6,0,0.0,False,False,...,True,False,False,False,False,True,False,False,True,True
82827,a-fistful-of-gun,60.0,4,20,0,43,4,0.0,False,False,...,True,False,False,False,False,True,False,False,False,True
100981,air-conflicts-secret-wars-2,65.0,1,69,0,3,2,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True
276988,air-conflicts-vietnam,43.0,2,38,0,2,0,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88072,zeit2,72.0,1,82,0,1,0,0.0,False,False,...,True,False,False,False,False,True,False,False,False,True
71000,zeno-clash,77.0,3,34,0,51,9,0.0,False,False,...,True,False,False,False,False,True,False,False,False,True
290422,zeno-clash-2,63.0,3,35,0,46,9,0.0,False,False,...,True,False,False,False,False,True,False,True,False,True
221575,ziggurat,75.0,4,141,0,112,8,0.0,False,False,...,True,True,False,False,False,True,False,False,False,True
242675,zombie-army-trilogy,72.0,4,200,0,82,15,0.0,False,False,...,True,False,False,False,False,False,False,False,False,True

In [21]:
feat_df[feat_df.slug == 'coun']

Empty DataFrame
Columns: [slug, metacritic, playtime, achievements_count, game_series_count, added_status_yet, added_status_toplay, metacritic_good_game, Publisher_Square_Enix, Publisher_Electronic_Arts, Publisher_Enhance_Games, Publisher_Valve, Publisher_Klei_Entertainment, Publisher_LucasArts_Entertainment, Publisher_8-4, Publisher_tobyfox, Publisher_Aspyr, Publisher_Bethesda_Softworks, Publisher_Funcom, Publisher_Focus_Home_Interactive, Publisher_Warner_Bros._Interactive, Publisher_Activison, Publisher_Ubisoft_Entertainment, Publisher_Interplay_Productions, Publisher_Matt_Makes_Games, Publisher_Blizzard_Entertainment, Publisher_Sony_Computer_Entertainment, Publisher_CD_PROJEKT_RED, Publisher_Rockstar_Games, Publisher_Rare, Publisher_Konami, Publisher_GT_Interactive_Software, Publisher_MacSoft, Publisher_Annapurna_Games, Publisher_Bandai_Namco_Entertainment, Publisher_Atlus, Publisher_Rocketcat, Publisher_1C-SoftClub, Publisher_EA_Sports_BIG, Publisher_Corporation_Polytron, Publisher_FromSoftware, Publisher_Paradox_Interactive, Publisher_Buka_Entertainment, Publisher_Sony_Interactive_Entertainment, Publisher_Deep_Silver, Publisher_Number_None, Publisher_id_Software, Publisher_Asmodee_Digital, Publisher_Nightdive_Studios, Publisher_Microsoft_Studios, Publisher_Capcom, Publisher_2K_Games, Publisher_Out_of_the_Park_Developments, Publisher_The_Quantum_Astrophysicists_Guild, Publisher_Overhaul_Games, Publisher_Nintendo, Publisher_Supergiant_Games, Publisher_Namco, Publisher_Infogrames, Publisher_Activision_Value_Publishing, Publisher_Ukiyo_Publishing, Publisher_Atari, Publisher_Polytron, Publisher_Eidos_Interactive, Publisher_Active, Publisher_Square, Publisher_Days_of_Wonder, Publisher_Wube_Software, Publisher_Toby_Fox, Publisher_Stardock_Entertainment, Publisher_Gameloft, Publisher_Telltale_Games, Publisher_Konami_Digital_Entertainment-US, Publisher_Yacht_Club_Games, Publisher_Trapdoor, Publisher_Take_Two_Interactive, Publisher_Chillingo, Publisher_Disney_Interactive, Publisher_Feral_Interactive, Publisher_Xbox_Game_Studios, Publisher_Rocketcat_Games, Publisher_Hothead_Games, Publisher_SEGA, Publisher_Annapurna_Interactive, Publisher_Larian_Studios, Publisher_BANDAI_NAMCO_Entertainment_America, Publisher_Activision_Blizzard, Platform_Xbox_One, Platform_Nintendo_Switch, Platform_iOS, Platform_Nintendo_3DS, Platform_PlayStation_3, Platform_PlayStation_2, Platform_Wii, Platform_Game_Boy_Advance, Platform_Wii_U, Platform_Web, Platform_GameCube, Platform_PlayStation, Platform_Atari_ST, ...]
Index: []

[0 rows x 149 columns]

In [25]:
from env import key
import requests
import os
import json
from typing import Dict, List, Union, cast
import requests
from time import sleep

In [30]:
headers = {"Authorization": f"token {key}"}

In [31]:

def api_request(url: str) -> Union[List, Dict]:
    response = requests.get(url, headers=headers)
    response_data = response.json()
    if response.status_code != 200:
        raise Exception(
            f"Error response from github api! status code: {response.status_code}, "
            f"response: {json.dumps(response_data)}"
        )

# building link

In [77]:
base = 'http://api.steampowered.com/ISteamUserStats/'
test = 'http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/steamids=76561198099973770'

In [83]:
response = requests.get('http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=AEF27393A5FA9A04DF11085D89DBB5DC&steamids=76561198099973770',headers = headers)

In [85]:
response.text

'{"response":{"players":[{"steamid":"76561198099973770","communityvisibilitystate":3,"profilestate":1,"personaname":"Drifter","commentpermission":1,"profileurl":"https://steamcommunity.com/profiles/76561198099973770/","avatar":"https://avatars.akamai.steamstatic.com/d3ce39c0f4598b902f95bac8dcba43c86a7dd404.jpg","avatarmedium":"https://avatars.akamai.steamstatic.com/d3ce39c0f4598b902f95bac8dcba43c86a7dd404_medium.jpg","avatarfull":"https://avatars.akamai.steamstatic.com/d3ce39c0f4598b902f95bac8dcba43c86a7dd404_full.jpg","avatarhash":"d3ce39c0f4598b902f95bac8dcba43c86a7dd404","personastate":0,"realname":"Wouldn\'t you like to know?","primaryclanid":"103582791429521408","timecreated":1374813033,"personastateflags":0}]}}'